@using Microsoft.AspNetCore.Identity
@inject SignInManager<RadioCabsUser> SignInManager
@inject UserManager<RadioCabsUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var userName = user?.FullName;
}


@if (SignInManager.IsSignedIn(User))
{
   

<li >
    <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @userName!</a>
</li>

    <li >
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link  border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li >
        <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li >
        <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

